*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #18181b;
  font-family: system-ui, -apple-system, sans-serif;
  color: #fafafa;
}

.app {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout container */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
}

/* Navbar styles */
.navbar-container {
  background-color: #18181b;
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 16px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  gap: 20px;
}

.navbar li {
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li:hover {
  background-color: rgb(77, 71, 71);
  color: #22c55e;
}

.navbar .active {
  display: flex;
  align-items: center;
  color: #22c55e;
}

.navbar .logo {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar .logo .icon {
  color: #22c55e;
}

.nav-link {
  text-decoration: none;
  color: #fafafa;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  padding: 12px;
  gap: 8px;
}

.input-group:focus-within {
  outline: none;
  border-color: #22c55e;
}

.input-group input {
  width: 100%;
  color: #fafafa;
  background-color: black;
  border: none;
  outline: none;
  font-size: 14px;
  user-select: none;
}

button {
  background-color: #22c55e;
  color: #18181b;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #26ee6c;
}

.crypto-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.crypto-card {
  background: #1e1e1e;
  color: #ffffff;
  padding: 16px 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  border: 1px solid transparent;
}

.crypto-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  border: 1px solid #22c55e;
}

.crypto-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.crypto-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 6px 4px;
  font-size: 18px;
  gap: 12px;
}

.crypto-market-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.crypto-price {
  font-size: 20px;
  font-weight: bold;
  color: #00ff7f;
}

.crypto-rank {
  font-size: 14px;
  color: #aaa;
}

.crypto-change {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
}

.positive {
  color: #00ff7f;
}

.negative {
  color: #ff3b30;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.close-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.crypto-image-large {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.crypto-coin-info {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.crypto-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.dialog-content .crypto-card {
  background: #27272a;
  padding: 20px;
  transition: transform 0.2s ease;
}

.dialog-content .crypto-card:hover {
  transform: none;
  cursor: default;
}

.dialog-content .crypto-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.dialog-content .crypto-coin-info {
  gap: 20px;
  margin-bottom: 20px;
}

.dialog-content .crypto-coin-info .crypto-info h3 {
  font-size: 24px;
  margin: 0;
}

@media (max-width: 768px) {
  .dialog-content {
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
  }

  .crypto-details {
    grid-template-columns: 1fr;
  }
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .navbar {
    padding: 16px 4%;
  }

  .navbar ul {
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
}

@media (max-width: 480px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar li {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}
